.wrapper-favorites {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.ul-favorites {
   list-style: none;
   width: 90%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.li-favorites {
   margin: 20px;
}

.div-favorites {
   width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.wrapper-favorites-image {
   display: flex;
   align-items: start;
}

.img-favorites {
   width: 200px;
}

.img-heart {
   width: 20px;
}
