.App {
   text-align: center;

   box-sizing: border-box;
}

/* ----------------- Categories ----------------- */
.categories {
   display: flex;
   margin: 5px;
   justify-content: center;
}

.categories--item {
   background-color: #efeff0;
   cursor: pointer;
   font-weight: 700;
   margin: 5px;
   padding: 12px;
}

.category-selected {
   background-color: cadetblue;
}

.categories--item:hover {
   background-color: darkgray;
}

/* ----------------- Products ----------------- */
.products {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin-block-end: 0;
   margin-block-start: 0;
   padding-inline-start: 0;
}

.product--item {
   list-style: none;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: calc(33% - 16px);
   margin: 8px;
}

.product--item:hover {
   cursor: pointer;
}

.product {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.product--image {
   margin-bottom: auto;
   margin-top: auto;
   max-height: 300px;
   object-fit: contain;
   width: 100%;
   border-style: none;
}

.product--title {
   overflow: hidden;
   padding-top: 8px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.myInfo {
   background-color: aqua;
   font-size: 24px;
   font-weight: bolder;
   padding: 10px;
   margin: 25px 10%;
   border: 3px solid orange;
   border-radius: 10px;
}

.myInfo-danger {
   background: red;
}
.myInfo-success {
   background: greenyellow;
}

/* Responsive Rules */

/* For screens smaller than 768px */
@media (max-width: 767px) {
   .categories {
      flex-wrap: wrap;
   }
   .categories--item {
      flex-basis: 50%;
   }
   .product--item {
      width: calc(50% - 16px);
   }
}

/* For screens smaller than 576px */
@media (max-width: 575px) {
   .product--item {
      width: 100%;
   }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
   .product--item {
      width: calc(25% - 16px);
   }
}

/* For screens larger than 1400px */
@media (min-width: 1401px) {
   .product--item {
      width: calc(20% - 16px);
   }
}
